<%= render :partial => 'layouts/nav' %>

<h1>Event Calendars iCal Subscriptions Refresh</h1>
<% @calendars.each do |calendar| %>
	<div style="border-bottom: dotted 1px rgb(100,100,100); padding: 10px;">
	 	<strong><%= calendar.category.to_s.capitalize %> > <%= calendar.name.to_s.capitalize %></strong>
		<br /> 
		<%= calendar.events.count %> events parsed and populated to database.
	</div>
<% end %>