- @page_title = @calendar.name
- @page_title += ' - ' + t('calendar_admin.defaults.title') + ' - ' + default_page_title

- include_stylesheet('admin/event_calendar')

- render_region :main do |main|
  - main.edit_header do
    %h1= t('calendar_admin.edit.header')

  - main.edit_form do
    - form_for :calendar, @calendar, :url => admin_calendar_path(@calendar), :html => { :method => "put", :multipart => true } do |f|
      = render :partial => 'form', :locals => { :f => f }
