- include_stylesheet('admin/calendar')

- render_region :main do |main|
  - main.edit_header do
    %h1 
      New Calendar Subscription

  - main.edit_form do
    - form_for :calendar, @calendar, :url => admin_calendars_path do |f|
      = render :partial => "form", :locals => { :f => f }
