%thead
  %tr
    - render_region :thead do |thead|
      - thead.date_header do
        %th.date
      - thead.title_header do
        %th.event 
          %strong Event
      - thead.calendar_header do
        %th.calendar Calendar
      - thead.time_header do
        %th.date Time
      - thead.location_header do
        %th.location Location
      - thead.keywords_header do
        %th.keywords Keywords
      - thead.modify_header do
        %th.modify Modify
