- @page_title = @event.title
- @page_title += ' - ' + t('event_admin.defaults.title') + ' - ' + default_page_title

- include_stylesheet "admin/event_calendar"
- include_javascript "admin/event_calendar"

- render_region :main do |main|
  - main.edit_header do
    %h1 
      = t('event_admin.edit.header')

  - main.edit_form do
    - form_for :event, @event, :url => admin_event_path(@calendar), :html => { :method => "put", :multipart => true } do |f|
      = render :partial => 'form', :locals => { :f => f }
