/**** sample calendar css pulled out of current work without much thought, I'm afraid. ****/

table.month {
  border-collapse: collapse;
  border: 1px solid #ccc;
  color: #4d4e53;
}

table.month th, table.month td {
  border: 1px solid #ccc;
  padding: 6px;
  vertical-align: top;
}

table.month td {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 0.9em;
  line-height: 1.1;
}

table.month tr.month_name th {
  font-weight: normal;
  text-align: right;
  padding-top: 1em;
  padding-bottom: 0.7em;
  color: black;
}

table.month tr.day_name th {
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 0.8em;
  padding-top: 0.6em;
  padding-bottom: 0.3em;
  font-weight: lighter;
}

table.month td h4 {
  margin: 0;
  font-weight: lighter;
  text-align: right;
  color: #4d4e53;
}

table.month td.other_month {
  color: #afafaf;
  background-color: white;
}

table.month td.weekend_day {
  background-color: #eee;
}

table.month td.eventful {
  background-color: #fee;
}

table.month td.eventful_weekend {
  background-color: #edd;
}

table.month td.today {
  background-color: #eef;
  font-weight: bold;
  color: #00c;
}

table.month td.weekend_today {
  background-color: #dde;
}

table.month th a {
  display: block;
  color: #ccc;
  font-weight: lighter;
}

table.month th a:hover {
  color: #c00;
}

table.month td a {
  display: block;
  color: #c00;
  text-decoration: none;
  margin: 0 0 4px 0;
  font-weight: bold;
}

table.month td.other_month a {
  color: #ccc;
}

table.month td div {
  width: 90px;
  height: 90px;
  overflow: hidden;
}

table.month td ul {
  font-size: 75%;
  margin: 0;
  padding: 0;
  list-style: inline;
}

table.month td ul li {
  margin-bottom: 2px;
}




/**** mini calendar blocks ****/

table.minimonth {
  border-collapse: collapse;
  border: 1px solid #ccc;
  color: #4d4e53;
  margin-bottom: 10px;
}

table.minimonth th, table.minimonth td {
  border: 1px solid #afafaf;
  padding: 3px;
  vertical-align: middle;
  text-align: center;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  font-size: 0.7em;
  line-height: 1;
}

table.minimonth td {
  width: 20px;
  overflow: hidden;
  line-height: 16px;
  padding-top: 4px;
}

table.minimonth tr.month_name th {
  font-weight: normal;
  color: black;
}

/* colour-coding of day blocks in reverse priority order */

table.minimonth td.other_month {
  color: #afafaf;
  background-color: white;
}

table.minimonth td.weekend_day {
  background-color: #eee;
}

table.minimonth td.eventful {
  background-color: #fee;
}

table.minimonth td.eventful_weekend {
  background-color: #edd;
}

table.minimonth td.today {
  background-color: #afafaf;
  color: white;
  font-weight: bold;
}

table.minimonth td.social {
  background-color: #cdebe3;
}

table.minimonth td.races a {
  color: #c00;
}

table.minimonth td.social a {
  color: #1c8064;
}




table.minimonth th a {
/*  display: block;*/
  color: #ccc;
  font-weight: lighter;
}

table.minimonth th a:hover {
  color: #c00;
}

table.minimonth td.other_month a {
  color: #ccc;
}

div.event_list p {
  margin: 6px 0;
}

div.event_list p.races a.title, div.event_list p.races span.title {
  color: #c00;
}

div.event_list p.social a.title, div.event_list p.social span.title {
  color: #1bb68b;
}

div.event_list a.title {
  text-decoration: underline;
}

div.event_list p span.location {
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
  font-size: 75%;
  color: #afafaf;
}

div.event_list p span.description {
  color: #4d4e53;
  padding-left: 44px;
}

acronym.date {
  display:block;
  width: 36px;
  text-align: left;
  float: left;
  clear: left;
  font-family: Arial, Helvetica, sans-serif; 
  margin: 0 10px 0 0;
  color: #4d4e53;
}

span.date-month {
  display:block; 
  font-size: 12px;
  margin:0; 
  padding:0;
  line-height: 1;
}

span.date-day { 
  display:block; 
  font-size:20px;
  margin:0; 
  padding:0;  
}

a.ical {
  margin: 0 2px 8px 2px;
}
