<p><label for="calendar_ical_url">iCal URL</label><br/>
<%=text_field :ical, :ical_url, :value => ical.ical_url, :class => "text", :style => "width:590px; font-size: 10px; background-color:rgb(240,240,240); padding:5px;"%></p>
