<% content_for(:page_css) do -%>
  table, tr, td {
  	border-collapse: collapse;
  	margin: 0px;
  	padding: 0px;
  }
  #mainNav {
    margin:15px 0px 10px 0px;
    float:right;
    text-align:right;
  }
  #mainNav li {
  	display: inline;
  	padding: 0px 20px 0px 0px;
  }
  #mainNav li a,
  table a {
    color:rgb(150,50,50);
    text-decoration:none;
  }
  #mainNav li a:hover,
  table a:hover {
    color:rgb(200,50,50);
    text-decoration:underline;
  }
  .text {
    border: 1px solid #cdc295;
    padding:2px;
  }
  table.subscriptionList {
    width: 100%;
    min-width: 750px;
    font-size: 85%;
  }
  table.subscriptionList th,
  table.subscriptionList td {
    padding:3px;
  }
  table.subscriptionList {
    border-top: solid 1px rgb(200,200,200);
  } 
  table.subscriptionList th {
    background-color: rgb(200,50,50);
    color:rgb(255,255,255);
  	text-align: left;
  }
<% end -%>
<ul id="mainNav">
    <li><%= link_to "Calendars", calendars_path %></li>
    <li><%= link_to "Events List", events_path %></li>
    <li><%= link_to "Refresh All", refresh_all_icals_path, :method => :put %></li>
    <li><%= link_to "Help!", help_calendars_path %></li>
</ul>
